    <!-- HEADER -->
    {% include body.header.html %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75231737-2', 'auto');
  ga('send', 'pageview');
</script>

<script>
var delimiter = '&'; 
var dt = null;

$(document).ready(function () {
  $(function () {
    // load
    $.getJSON('/data.json', function (data) {
      // console.log(data);
      // console.log(data[0].data.length);

      var rows = [];
      var tagsCount = [];
      $.each(data[0].data, function (i, row) {
        if ($.inArray('link', row.tags) != -1) {
          row.body = '<a href="%%link%%" target="_blank">%%link%%</a>'.replace(/%%link%%/g, row.body);
        }
        if ($.inArray('email', row.tags) != -1) {
          row.body = '<a href="mailto:%%email%%">%%email%%</a>'.replace(/%%email%%/g, row.body);
        }

        var tags = [];
        $.each(row.tags, function (j, tag) {
          tags.push('<button type="button" class="btn btn-secondary btn-tag btn-tag-%%tag%%">%%tag%%</button>'.replace(/%%tag%%/g, tag));
          if (tag in tagsCount) {
            tagsCount[tag]++;
          } else {
            tagsCount[tag] = 1;
          }
        });
        tags = tags.join(' ');

        rows.push([row.name, row.body, tags]);
      });
      // console.log(rows.length);

      // shuffle
      // @TODO: iPhone だと無効
      rows.sort(function () { return Math.round(Math.random()); });

      // output
      dt = $('#data').DataTable({
        // fixedHeader: { header: true, footer: false },
        paging: false,
        // searching: false,
        // ordering: false,
        // order: [[0, 'asc']],
        order: [],
        data: rows
      });

      $('.btn-tag').on('click', onClickTagButton);
      $(window).on('hashchange', onChangeHash);
      onChangeHash();

      // タグクラウド 生成
      // console.dir(tagsCount);
      var tagsArray = [];
      for (key in tagsCount) {
        tagsArray.push({
          text: key,
          weight: tagsCount[key],
          handlers: {
            click: function () {
              // console.dir(this.textContent);
              location.hash = '!' + this.textContent;
            }
          }});
      }
      $('#tagCloud').jQCloud(tagsArray);
    });
  });
});

function onChangeHash(e) {
  var tags = [];
  var hash = location.hash.replace(/^#!/, '');
  if (hash != '') tags = hash.split(delimiter);
  // console.log(tags);

  // OFF
  dt.search('').draw();
  $('.btn-tag').removeClass('btn-primary');
  $('.btn-tag').addClass('btn-secondary');
  // console.log(tags);

  $.each(tags, function (i, tag) {
    // ON
    var c = '.btn-tag-' + tag;
    // console.log(c);
    $(c).removeClass('btn-secondary');
    $(c).addClass('btn-primary');
  });

  // Search
  // @TODO: 検索対象を tags のみに限定
  if (tags.length) dt.search(tags.join(' ')).draw();
}

function onClickTagButton(e) {
  var o = this;
  var tags = [];
  var hash = location.hash.replace(/^#!/, '');
  if (hash != '') tags = hash.split(delimiter);
  var i = $.inArray(o.textContent, tags);
  if (i === -1) {
    tags.push(o.textContent);
  } else {
    tags.splice(i, 1);
  }
  location.hash = '!' + tags.join(delimiter);
}

</script>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      {{ content }}

<div id="tagCloud" style="width: 680px; height: 120px;"></div>

<table id="data" class="display" cellspacing="0" width="100%">
  <thead><tr><th>name</th><th>body</th><th>tags</th></tr></thead>
  <tfoot><tr><th>name</th><th>body</th><th>tags</th></tr></tfoot>
</table>

      {% if page.data.link %}
      <h3 id="link">link</h3>
      <table>
        <thead>
          <tr><th>name</th><th>URL</th></tr>
        </thead>
        <tbody>
          {% for item in site.data.link %}
          <tr><td>{{ item.name }}</td><td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td></tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
 
      </section>
    </div>

    <!-- FOOTER -->
    {% include body.footer.html %}

