    <div id="header_wrap" class="outer">
      <header class="inner">
      <!--
      <a id="forkme_banner" href="https://github.com/ukyooo">View on GitHub</a>
      -->
      <h1 id="project_title" style="vertical-align: middle;">
        <p style="vertical-align: middle;"><a href="/"><img src="/favicon.ico" border="0" width="32" height="32" alt="U!" /></a> Ukyoo! </p>
      </h1>
      <h2 id="project_tagline">Ukyoo!'s GitHub Pages</h2>
      <!--
      <nav>
      <ul>
        <li><a href="/link">link</a></li>
        <li><a href="/link">link</a></li>
      </ul>
      </nav>
      -->
      </header>
    </div>
